.body {
  margin: 20px auto;
  background: rgba(111, 236, 255, 0.294);
  padding: 25px;
  border-radius: 15px;
  max-width: 700px;
}

.options {
  display: block;
}

#celcius,
#fahrenheit,
#slash {
  font-size: 20px;
  font-weight: bold;
}

#celcius:hover,
#fahrenheit:hover {
  font-size: 21px;
  cursor: pointer;
  background-color: aqua;
  padding: 8px;
  border-radius: 15px;
}

input {
  border: 0;
  border-radius: 10px;
  width: 70%;
  padding-left: 2%;
}

#button {
  width: 25%;
  background-color: aqua;
  font-weight: bold;
}

#current {
  width: 25%;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.cloud {
  font-size: 55px;
  text-align: right;
}

.temp {
  font-size: 30px;
  font-weight: bold;
}

.description {
  text-align: center;
  font-style: italic;
  padding-top: 15px;
  text-transform: capitalize;
}

.middle {
  padding: 50px;
}

.city,
.day,
.time {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.bottom {
  padding-bottom: 30px;
}
.sun,
.degree,
.week {
  text-align: center;
}

.sun,
.degree {
  font-size: 25px;
}

footer {
  text-align: right;
  padding-right: 20px;
}
